/* CSS for the header */
header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.header-text {
    font-size: 20px;
    font-weight: bold;
}

.login-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* CSS for the add book section */
.add-book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.add-book-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 600px;
}

.add-book-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.form-group {
    text-align: left;
    padding: 10px;
}

.form-group label {
    display: block;
    font-size: 16px;
}

.form-group input {
    display: block;
    width: 80%;
    padding: 5px;
}

.submit-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* CSS for the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
