/* CSS for the header */
header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.header-text {
    font-size: 20px;
    font-weight: bold;
}

.login-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}



/* CSS for the book table */
.book-table {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.view-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* CSS for the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
