/* CSS for the header */
header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.header-text {
    font-size: 20px;
    font-weight: bold;
}

.login-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* CSS for the sections */
.section {
    margin: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

.action-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* CSS for the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

body.hide-footer footer {
    transform: translateY(100%);
}

body.exceeds-normal-size footer {
    display: none;
}

/* Hide scrollbar */
body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}
