{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management</title>
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    
</head>
<body>
    
    {% include 'header.html' %}

    <section class="section">
        <h2>Search for a Book</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="query" placeholder="Enter book title or author" required>
            <button type="submit">Search</button>
        </form>
    </section>
    {% include 'footer.html' %}
</body>
</html>
